{{- $profile := promptStringOnce . "profile" "Profile (personal/work)" -}}

[data]
  profile = {{ $profile | quote }}
{{ if eq $profile "personal" -}}
  sshPrivateKeyItem = "SSH Key - MiniPC Private"
  sshPublicKeyItem = "SSH Key - MiniPC Public"
{{ end -}}

[onepassword]
  command = "{{ .chezmoi.homeDir }}/.local/share/mise/installs/aqua-1password-cli/v2.32.0/op"
  mode = "account"
  prompt = true
