[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[user]
{{ if eq .profile "work" -}}
	name = Bojan Rajkovic
	email = bojan.rajkovic@simplisafe.com
	signingkey = YOUR_GPG_KEY_ID
{{ else -}}
	name = Bojan Rajkovic
	email = brajkovic@coderinserepeat.com
	signingkey = ~/.ssh/id_ed25519.pub
{{ end -}}
[gpg]
{{ if eq .profile "work" -}}
	format = openpgp
{{ else -}}
	format = ssh
{{ end -}}
[commit]
	gpgsign = true
{{ if eq .profile "personal" -}}
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
{{ end -}}
