[default]
aws_access_key_id = {{ onepasswordRead "op://Dotfiles/AWS Root Credentials/username" }}
aws_secret_access_key = {{ onepasswordRead "op://Dotfiles/AWS Root Credentials/password" }}

[loupe-management]
aws_access_key_id = {{ onepasswordRead "op://Dotfiles/Loupe Management Credentials/username" }}
aws_secret_access_key = {{ onepasswordRead "op://Dotfiles/Loupe Management Credentials/password" }}

[loupe-root]
aws_access_key_id = {{ onepasswordRead "op://Dotfiles/Loupe Root Credentials/username" }}
aws_secret_access_key = {{ onepasswordRead "op://Dotfiles/Loupe Root Credentials/password" }}
