PAPRIKA_EMAIL=brajkovic+paprika@coderinserepeat.com
PAPRIKA_PASSWORD={{ onepasswordRead "op://Shared/Paprika Sync/password" }}
OPENAI_BASE_URL=https://openrouter.ai/api/v1
OPENAI_API_KEY={{ onepasswordRead "op://Employee/OpenRouter Paprika MCP API Key/credential" }}
EMBEDDING_MODEL=openai/text-embedding-3-large
